@page "/"


<div class="ui inverted vertical masthead center aligned segment">

    <div class="ui text container">
        <h1 class="ui inverted header">
            Em<span style="font-size: 0.7em;padding: 0px;margin: -6px;">🙂</span>ji search
        </h1>

        <div class="row">
            <div class="ui huge icon input">
                <input type="search" name="emoji" placeholder="Text to search..." class=""
                       @bind-value="Query"
                       @bind-value:event="oninput"
                       @onkeyup="OnSearchKeyUpAsync" />
                <i class="search icon"></i>
            </div>
        </div>


        <div class="row">
            <br />
            <span>What does fate have for me?</span>
            <button class="ui primary button" 
                    @onclick="@(async () => await OnClickRandomAsync())"><i class="lightbulb outline icon"></i> Random</button>
        </div>

    </div>
</div>

<EmojiSearch @ref="_emojiSearch"  />


@code {

    EmojiSearch  _emojiSearch;

    private string _queryValue;

    private string Query
    {
        get => _queryValue;
        set
        {
            _queryValue = value;
            //_ = _emojiSearch.SearchAsync(_queryValue);
        }
    }


    private async Task OnSearchKeyUpAsync(KeyboardEventArgs eventArgs)
    {
        //if (eventArgs.Key == "Enter")  // fire on enter 
        //{
        //    await _emojiSearch.SearchAsync(Query);
        //}
        await _emojiSearch.SearchAsync(Query);
    }

    private async Task OnClickRandomAsync()
    {
        await _emojiSearch.RandomAsync();
    }


}

