@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');


.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.masthead.segment {
    padding: 1.5em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-bottom: 0.2em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

    .ui.vertical.stripe h3 {
        font-size: 2em;
    }

    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
        margin-top: 3em;
    }

    .ui.vertical.stripe .floated.image {
        clear: both;
    }

    .ui.vertical.stripe p {
        font-size: 1.33em;
    }

    .ui.vertical.stripe .horizontal.divider {
        margin: 3em 0em;
    }

.quote.stripe.segment {
    padding: 0em;
}

    .quote.stripe.segment .grid .column {
        padding-top: 5em;
        padding-bottom: 5em;
    }

.footer.segment {
    border-top: 1px solid #808080 !important;
    padding: 1.5em 0em;
    margin-top: 6em !important;
    margin-bottom: 1em !important;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

.result-content {
    margin:15px;
}

.emoji-item-content {
}
    .emoji-item-content .emoji-item-emoji {
        font-size: 50px;
        line-height: 55px;
        float: left;
        margin-right: 8px;
        margin-bottom: 8px;
    }

    .emoji-item-content .emoji-item-data {
        
    }

        .emoji-item-content .emoji-item-data .emoji-item-name {
            margin-bottom:3px;
        }

    .emoji-item-content .emoji-item-action {
        float: right;
        background-color: white;
        border: none;
    }



@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }

    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }

    .secondary.pointing.menu .toc.item {
        display: block;
    }

    .masthead.segment {
        min-height: 350px;
    }

    .masthead h1.ui.header {
        font-size: 2em;
    }

    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}

@media (max-width: 767.98px) {
  
}

@media (min-width: 768px) {
  
}
