@inject HttpClient Http

<div class="ui content result-content">
@if (_searching)
{
    <div class="ui active inline loader"></div>
    <p><em>Searching...</em></p>
}
else
{
    @if (emojisResult != null && emojisResult.Any()) 
    { 
        <div class="ui centered cards">
            @foreach (var e in emojisResult)
            {
                <EmojiContent Emoji="e" />
            }
        </div>
    }
    else if(!_isFirstTime)
    {
        
        <div class="ui warning message">
            <i class="close icon"></i>
            <div class="header">
                Sorry!, couldn't find any emoji matching
            </div>
            Please try again or maybe <a href="#all" @onclick="@(async () => await SearchAsync(string.Empty))"
                                            @onclick:preventDefault>list all clicking here</a>.
        </div>
    }
}
</div>



@code {
    [Parameter]
    public string Query { get; set; }

    private bool _isFirstTime = true;
    private bool _searching = false;

    private List<EmojiItem> emojisData = null;
    private List<EmojiItem> emojisResult = null;

    protected override async Task OnInitializedAsync()
    {
        await (GetDataAsync());
    }


    private async Task GetDataAsync()
    {
        //TODO: Encapsulate to component

        if (emojisData == null)
        {

            //emojisData = await Http.GetFromJsonAsync<List<EmojiItem>>(requestUri: "https://raw.githubusercontent.com/fernandezja/full-emoji-unicode-json/master/emojis.json");
            //Error GetFromJsonAsync requires the content-type to be application/json or application/{media-type}+json and raw.githubusercontent

            //Get remote
            var dataResponse = await Http.GetAsync(requestUri: "https://raw.githubusercontent.com/fernandezja/full-emoji-unicode-json/master/emojis.min.json");
            var dataString = await dataResponse.Content.ReadAsStringAsync();

            emojisData = System.Text.Json.JsonSerializer.Deserialize<List<EmojiItem>>(dataString);

        }
    }

    public async Task SearchAsync(string query)
    {
        InitQuery(query);

        await (GetDataAsync());

        SearchStrategy(Query);

        _searching = false;
        Refresh();

    }

    public async Task RandomAsync()
    {
        InitQuery(string.Empty);

        await (GetDataAsync());

        RandomStrategy();

        _searching = false;
        Refresh();

    }

    private void InitQuery(string query) {
        _isFirstTime = false;
        Query = query;
        _searching = true;
        emojisResult = null;

        Refresh();
    }

    private void Refresh() {
        StateHasChanged();
    }

    private void SearchStrategy(string query)
    {
        if (string.IsNullOrEmpty(Query))
        {
            emojisResult = emojisData;
            _searching = false;
            Refresh();
            return;
        }

        const string WHITESPACE = " ";

        var queryParsed = Query.Split(WHITESPACE, StringSplitOptions.RemoveEmptyEntries);

        //var q = from e in emojisData
        //        where e.ShortNameToArray.ContainsAny(queryParsed)
        //        select e;

        var q = from e in emojisData
                where e.ShortNameToArray.LikeAny(queryParsed)
                select e;

        emojisResult = q.ToList();
    }


    private void RandomStrategy()
    {
        var rand = new Random((int)DateTime.Now.Ticks);
        var randomIndex = rand.Next(1, emojisData.Count);

        emojisResult = new List<EmojiItem>() { emojisData[randomIndex - 1] };
    }

}
