@inherits LayoutComponentBase

<div class="pusher">
        
    @Body

    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">About</h4>
                    <div class="ui inverted">
                        Emoji search from Unicode.org full emoji list
                        
                       
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Repo</h4>
                    <p>
                        <a href="https://github.com/fernandezja" target="_blank">
                            <i class="github icon"></i>https://github.com/fernandezja
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
