@inherits LayoutComponentBase

<div class="pusher">

    @Body

    <div class="ui vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="seven wide column">
                    <h4 class="ui header">About</h4>
                    <div class="ui inverted">
                        Emoji search from Unicode.org full emoji list
                        <br />
                        <a href="https://github.com/fernandezja/emoji-search" target="_blank">
                            <i class="github icon"></i>https://github.com/fernandezja/emoji-search
                        </a>
                        <a href="https://github.com/fernandezja" target="_blank">
                            <i class="github icon"></i>@@fernandezja
                        </a>
                        <span>v2.0.0-20240213</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
